

<!-- <br><br>
<input type="button" value="addProduct" (click)="addProduct()">
<br><br>

<input type="button" value="viewProduct" (click)="viewProduct()">
<br><br>

<input type="button" value="updateProduct" (click)="updateProduct()">
<br><br>

<input type="button" value="deleteProduct" (click)="deleteProduct()">
<br><br> -->

<div class="home-container">
    <div class="action-box" id="add-product">
      <img src="../.../../assets/images/AddProduct.jpg" >
      <button mat-raised-button color="primary" (click)="addProduct()">Add Product</button>
    </div>
    <div class="action-box" id="delete-product">
      <img src="../.../../assets/images/Dele.jpg">
      <button mat-raised-button color="warn" (click)="deleteProduct()">Delete Product</button>
    </div>
    <div class="action-box" id="update-product">
      <img src="../.../../assets/images/Update.jpg" >
      <button mat-raised-button color="accent" (click)="updateProduct()">Update Product</button>
    </div>
    <div class="action-box" id="view-product">
      <img src="../.../../assets/images/View.jpg" >
      <button mat-raised-button color="primary" (click)="viewProduct()">View Product</button>
    </div>
  </div>
